body {
    background-color: #808080;
    color: white;
}
.divs {
    background-color: #707070;
    padding: 10px;
    border-radius: 5px;
}
.link {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #606060;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
    user-select: none;
}
.link:hover {
    cursor: pointer;
}
h2 {
    text-decoration: underline;
}
p {
    margin: 0;
}
#Gprojects {
    width:fit-content;
    float: inline-start;
}
#Pprojects {
    margin-left: 10%;
    float:left;
    width: fit-content;
}
.tankDropdownLink {
    margin-top: 5px;
    display: none;
    user-select: none;
}
.dropdownLink:hover {
    cursor: pointer;
}
#menu {
    float: right;
    width: 10%;
    text-align: center;
}
#gitLogo {
    width: 50px;
}